
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/assets/css/pay.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/owlCarousel/assets/owl.theme.default.min.css")" rel="stylesheet" type="text/css" />

}
<div class="grid wide">
    <div class="row">
        <div class="col l-9 m-12 s-12">
            <div class="pay-information">
                <div class="pay__heading">Hướng dẫn mua hàng</div>
                <div class="form-group">
                    <p><font face="Times New Roman" size="2px"> Ngày đăng: 27/5/2020</font></p>
                    <br>
                    <p>
                        <font face="Times New Roman" size="4.5px">
                            Quý khách có thể đặt hàng trực tuyến ở Website Hasaki.vn thông qua các bước đặt hàng cơ bản.<br />
                            <br />
                            Tìm kiếm sản phẩm<br />
                            <br />
                            Quý khách có thể tìm sản phẩm theo 2 cách:<br />
                            <br />

                            a. Gõ tên sản phẩm vào thanh tìm kiếm<br />
                            <br />

                            b. Tìm theo danh mục sản phẩm, thương hiệu sản phẩm, danh mục bạn quan tâm, top tìm kiếm hoặc có thể tham khảo qua những sản phẩm hot, những sản phẩm đang bán chạy nhất tại Hasaki.vn<br />
                            <br />


                            Đặt hàng<br />
                            <br />

                            Khi đã tìm được sản phẩm mong muốn, quý khách vui lòng bấm vào hình hoặc tên sản phẩm để vào trang thông tin chi tiết của sản phẩm.
                            Nếu quý khách chỉ muốn mua 1 sản phẩm vừa chọn thì bấm vào nút Mua ngay sau đó làm theo hướng dẫn trên Website.
                            <br />

                            <br />

                            Để đặt nhiều sản phẩm khác nhau vào cùng 1 đơn hàng, quý khách vui lòng thực hiện theo các bước sau:
                            a. Quý khách bấm vào nút Giỏ hàng và tiếp tục tìm thêm các sản phẩm khác.
                            <br />
                            <br />

                            b. Sau khi đã cho các sản phẩm cần mua vào giỏ hàng, quý khách vui lòng bấm vào nút Giỏ hàng bên góc phải màn hình để xem lại sản phẩm đã chọn.
                            <br />
                            <br />

                            c. Trong giỏ hàng của quý khách bên góc trái có nút Tiếp tục mua hàng để quý khách chọn nếu như muốn mua thêm sản phẩm khác.
                            <br />
                            <br />

                            d. Sau khi đã chọn được các sản phẩm cần mua vào giỏ hàng, quý khách vui lòng bấm nút Tiến hành đặt hàng bên góc phải màn hình.
                            <br />
                            <br />

                            Đăng nhập hoặc đăng ký tài khoản                            <br />
                            <br />
                            <br />

                            Quý khách vui lòng đăng nhập bằng tài khoản đã có ở Hasaki.vn hoặc đăng nhập thông qua Facebook hoặc tài khoản Google. Trong trường hợp chưa đăng ký tài khoản, quý khách có thể chọn dòng "Đăng ký ngay" và bắt đầu nhập địa chỉ email, mật khẩu tùy ý để đăng ký tài khoản.
                            <br />
                            <br />

                            Quý khách có thể đặt hàng mà không cần đăng nhập nhưng quý khách lưu ý phải điền đầy đủ và chính xác về thông tin nhận hàng, đặc biệt là địa chỉ email và số điện thoại để Hasaki xác nhận đơn hàng.
                            <br />
                            <br />

                            Sau khi đã hoàn tất các bước trên, quý khách vui lòng bấm và nút Tiếp Tục để đến bước tiếp theo.
                            Điền địa chỉ nhận hàng                            <br />

                            Quý khách điền địa chỉ nhận hàng theo như trên trang hướng dẫn. Trường hợp quý khách có nhiều địa chỉ để nhận hàng thì quý khách lưu ý địa chỉ nào nằm trong ô “mặc định” đầu tiên bên trái sẽ là địa chỉ Hasaki lên hệ để giao hàng.
                            <br />

                            Chọn hình thức vận chuyển và phương thức thanh toán
                            <br />

                            a. Hình thức vận chuyển                            <br />
                            <br />

                            Khu vực nội thành Hồ Chí Minh và Hà Nội có 2 hình thức vận chuyển để Quý khách có thể chọn là:
                            - Giao hàng nhanh trong 2 giờ
                            - Giao hàng trong 48 giờ                            <br />
                            <br />

                            Các khu vực khác chỉ có hình thức vận chuyển là Vận chuyển giao hàng nhanh
                            b. Phương thức thanh toán                            <br />
                            <br />

                            Quý khách có thể thanh toán đơn hàng theo 2 cách:                            <br />
                            <br />

                            Cách 1: Thanh toán sau khi nhận hàng (COD), Quý khách sẽ thanh toán lúc nhận được sản phẩm từ nhân viên giao nhận hoặc nhân viên chuyển phát tại địa chỉ khách hàng đã đăng ký.
                            <br />
                            <br />
                            Cách 2: Thanh toán trước khi nhận hàng bằng cách click chọn "Thanh toán trực tuyến (Internet Banking, VNPAY-QR, Ví điện tử VNPAY, Visa - Miễn phí thanh toán)" để tiếp tục thanh toán.
                            <br />
                            <br />
                            Nếu các thông tin trên đã chính xác, quý khách vui lòng bấm vào nút Đặt hàng, hệ thống sẽ bắt đầu tiến hành tạo đơn hàng dựa trên các thông tin quý khách đã đăng ký.
                            <br />
                            <br />

                            Lưu ý: Các đơn hàng có giá trị trên 5.000.000đ chỉ được đặt hàng với phương thức thanh toán "Thanh toán trực tuyến (Internet Banking, VNPAY-QR, Ví điện tử VNPAY, Visa - Miễn phí thanh toán)".
                            Kiểm tra và xác nhận đơn hàng                            <br />
                            <br />

                            Sau khi hoàn thành tất cả bước đặt mua, hệ thống sẽ gửi đến quý khách mã đơn hàng để kiểm tra theo dõi tình trạng đơn hàng.
                            Theo dõi tình trạng đơn hàng                            <br />
                            <br />

                            Quý khách truy cập https://hasaki.vn/tracuudonhang rồi nhập số điện thoại đã đặt hàng và nhập captcha, nhấn nút Tra cứu để biết tình trạng đơn hàng.

                        </font>
                    </p>
                </div>
            </div>
        </div>
        <div class="col l-3 m-12 s-12">
            <div class="pay-order">
                <div class="pay__heading">Danh sách loại sản phẩm</div>
                <div class="pay-info">
                    <div class="main__pay-text">
                        <a href="https://localhost:44328/san-pham/trang-diem/">Trang điểm</a><br />
                        <a href="https://localhost:44328/san-pham/trang-diem/">Chăm sóc da</a><br />
                        <a href="https://localhost:44328/san-pham/trang-diem/">Chăm sóc tóc</a><br />
                        <a href="https://localhost:44328/san-pham/trang-diem/">Nước hoa</a><br />
                        <a href="https://localhost:44328/san-pham/trang-diem/">Chăm sóc toàn thân</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
