
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/assets/css/cart.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/owlCarousel/assets/owl.theme.default.min.css")" rel="stylesheet" type="text/css" />

}
<div class="main">
    <div class="grid wide">
            <br />
            <div class="main__notify-text">Mua hàng thành công</div>
    </div>
</div>
