
@{
    ViewBag.Title = "gioithieu";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/assets/css/pay.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/owlCarousel/assets/owl.theme.default.min.css")" rel="stylesheet" type="text/css" />

}
<div class="grid wide">
    <div class="row">
        <div class="col l-9 m-12 s-12">
            <div class="pay-information">
                <div class="pay__heading">Giới thiệu</div>
                <div class="form-group">
                    <p><font face="Times New Roman" size="2px"> Ngày đăng: 27/5/2020</font></p>
                    <br>
                    <p>
                        <font face="Times New Roman" size="4.5px">
                            Cửa hàng mỹ phẩm Comestic được thành lập từ tháng 3 năm 2010, là cửa hàng mỹ phẩm uy tín hàng đầu tại Việt Nam dành riêng cho phái đẹp.
                            <br>
                            <br>
                            SỨ MỆNH
                            <br>
                            <br>
                            Không ngừng sáng tạo và cung cấp các sản phẩm chất lượng đến các khâu dịch vụ, nhằm mang đến cho Quý Khách Hàng những trải nghiệm mua sắm đặc biệt nhất: sản phẩm chất lượng - dịch vụ hoàn hảo - xu hướng mỹ phẩm mới mẻ và tinh tế. Thông qua các sản phẩm chăm sóc trang điểm, Comestic luôn mong muốn truyền tải đến bạn những thông điệp tốt đẹp cùng với nguồn cảm hứng trẻ trung và tích cực.
                            <br>
                            <br>
                            TẦM NHÌN
                            <br>
                            <br>
                            Với mục tiêu xây dựng và phát triển những giá trị bền vững, trong 10 năm tới, Comestic sẽ trở thành thương hiệu dẫn đầu về thời trang phái mạnh trên thị trường Việt Nam.
                            <br>
                            <br>
                            THÔNG ĐIỆP COMESTIC GỬI ĐẾN BẠN
                            <br>
                            <br>
                            Comestic muốn truyền cảm hứng tích cực đến các cô gái: Việc chăm sóc sắc đẹp rất quan trọng, nó thể hiện được cá tính, sự tự tin và cả một phần lối sống, cách suy nghĩ của bản thân.
                            <br>
                            <br>
                            Chọn Comestic, bạn đang lựa chọn sự hoàn hảo cho điểm nhấn thời trang của chính mình!
                        </font>
                    </p>
                </div>
            </div>
        </div>
        <div class="col l-3 m-12 s-12">
            <div class="pay-order">
                <div class="pay__heading">Danh sách loại sản phẩm</div>
                <div class="pay-info">
                    <div class="main__pay-text">
                        <a href="https://localhost:44328/san-pham/trang-diem/">Trang điểm</a><br />
                        <a href="https://localhost:44328/san-pham/trang-diem/">Chăm sóc da</a><br />
                        <a href="https://localhost:44328/san-pham/trang-diem/">Chăm sóc tóc</a><br />
                        <a href="https://localhost:44328/san-pham/trang-diem/">Nước hoa</a><br />
                        <a href="https://localhost:44328/san-pham/trang-diem/">Chăm sóc toàn thân</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>